<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SPICA.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SPICA.WinForms.Properties.Settings>
      <setting name="RenderShowGrid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RenderShowAxis" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RenderShowSkeleton" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RenderShowInfo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RenderWireframe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UIShowSideMenu" serializeAs="String">
        <value>True</value>
      </setting>
    </SPICA.WinForms.Properties.Settings>
  </userSettings>
</configuration>
